<article class="post">
  <div class="title">
    {{title}} by {{user.username}}
    <br>
    <span>{{post_content}}</span>
  </div>
  <div class="meta">
    {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>