<article>
    <a class="text-decoration-none text-dark" href="/dashboard"> <u>&larr; Back to dashboard</u></a>
    <div class="m-3">
        <h2>
            Edit Post
        </h2>
        <form class="edit-post-form">
            <div>
                <label for="post-title" style="font-weight: bold;">Title:</label>
                <br>
                <input name="post-title" type="text" class="w-25" value="{{post.title}}" />
                <br />
                <label for="post-content" class="mt-2" style="font-weight: bold;">Content:</label>
                <br>
                <textarea name="post-content" class="edit-input" style="line-height: 20px;"> {{post.post_content}} </textarea>
                
            </div>
            <div class="mb-2">
                Created on {{format_date post.created_at}}
                |
                <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
            </div>
            <button class="buttons edit-btns rounded-3 p-1" type="submit">Save Post</button>
            <button class="delete-post-btn buttons edit-btns rounded-3 p-1 ms-4" type="submit">Delete Post</button>
        </form>
    </div>
</article>

<form class="comment-form">
    <div class="m-3 mt-4">
        <h2>
            Comments
        </h2>
        <div>
            <textarea name="comment-body" style="line-height: 20px" rows="7" cols="30"></textarea>
        </div>

        <div>
            <button class="buttons edit-btns rounded-3 p-1" type="submit">Add Comment</button>
        </div>
    </div>
</form>

{{> comments post.comments }}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>