<ol class="post-list">
    {{!-- this loops over the posts array in the home-routes file --}}
    {{#each posts as |post|}}
    <li>
        <article class="post">
            <div class="title">
                <a href="/post/{{id}}">{{title}}</a>
            </div> 

            <div class="author">
                Posted by {{user.username}} on {{format_date created_at}}
            </div>   

            <div>
                {{post_content}}
            </div>
        </article>
    </li>
    {{/each}}
</ol>